In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset.drop('User ID', axis=1)#without "axis", it throws error after execution
#axis=0 means row vice. axis=1 means column vice. We should delete column vice only

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [5]:
dataset['Purchased'].value_counts()#It helps to know...Howmany class we are going to classify? - target variables
#and also to identify data is balanced or imbalanced

0    257
1    143
Name: Purchased, dtype: int64

In [6]:
independent=dataset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [7]:
dependent=dataset[['Purchased']]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(independent, dependent, test_size=1/3, random_state=0)

In [9]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
classifier.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [10]:
y_pred=classifier.predict(X_test)

In [11]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
cm

array([[78,  7],
       [ 6, 43]], dtype=int64)

In [12]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,y_pred)

In [13]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.93      0.92      0.92        85
           1       0.86      0.88      0.87        49

    accuracy                           0.90       134
   macro avg       0.89      0.90      0.90       134
weighted avg       0.90      0.90      0.90       134

In [14]:
result1=classifier.predict([[40,30000,1]])#result of given input

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [15]:
print(result1)

[0]

In [19]:
#This input from user step can skip
age=float(input("Age:"))
salary=float(input("Salary:"))
sex=int(input("Sex Male 0 or 1:"))

Age:49
Salary:36000
Sex Male 0 or 1:0

In [20]:
result2=classifier.predict([[age,salary,sex]])#result of get input from user

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [21]:
print(result2)

[1]