In [1]:
#importing the Libraries
import pandas as pd

In [2]:
#Reading the Dataset
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
#Convert categorical(nominal or ordinal) data into numerical data and delete first column
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset.drop('User ID', axis=1)#without "axis", it throws error after execution
#axis=0 means row vice. axis=1 means column vice. We should delete column vice only

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [5]:
independent=dataset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [6]:
dependent=dataset[['Purchased']]

In [7]:
#in Regression - split into training set and test set is not needed for Grid
#But in Classification - split into training set and test set should be needed for Grid
#Because, we can see, matrix as well as classificatio report
#and also, type 1 error, type 2 error, etc., needs to check
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
#Convert the data into standardized data
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test-sc.transform(X_test)

           Age  EstimatedSalary  Gender_Male
132  30.771013     86999.502799     0.007118
309  37.986695     50000.572804     1.007169
341  35.280814     74999.849828     0.007118
196  30.771013     78999.734151     1.007169
246  35.280814     50000.572804     1.007169
..         ...              ...          ...
216  47.908257     65000.139018     0.007118
259  44.300416    130998.230361     1.007169
49   31.672973     88999.444961     1.007169
238  45.202376     81999.647394     1.007169
343  46.104336     51000.543885     1.007169

[120 rows x 3 columns]

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
param_grid = {'criterion':['gini', 'entropy'],'max_features':['auto', 'sqrt', 'log2'], 'n_estimators':[10, 100]}
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1')
#Here, refit=True is used to store best model in 'grid' among all the combinations
#Here, scoring='f1_weighted' is used. Because, its suitable for balanced and imbalanced data as well as precision, recall etc.,
#fitting the model for grid search
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [10]:
# print best parameter after tuning. Format is print(grid.best_params_)
result=grid.cv_results_
print("The value for best parameter {}:".format(grid.best_params_))

The value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}:

In [11]:
#to view entire result table
table=pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.123454,0.045822,0.005994,0.000001,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.789474,0.800000,0.731707,0.883721,0.950000,0.830980,0.076792,8
1,0.192278,0.012123,0.024388,0.001024,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.820513,0.780488,0.818182,0.883721,0.926829,0.845947,0.052291,3
2,0.029781,0.002990,0.005596,0.001356,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.850000,0.829268,0.761905,0.850000,0.871795,0.832594,0.037817,7
3,0.205469,0.015153,0.024387,0.002151,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.820513,0.800000,0.818182,0.883721,0.900000,0.844483,0.039666,5
4,0.030386,0.002573,0.005792,0.000398,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.820513,0.702703,0.761905,0.933333,0.926829,0.829057,0.090533,9
5,0.211069,0.010161,0.025784,0.003707,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.820513,0.800000,0.818182,0.883721,0.926829,0.849849,0.047795,1
6,0.030980,0.002965,0.006397,0.001355,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.850000,0.731707,0.772727,0.909091,0.842105,0.821126,0.062209,10
7,0.335594,0.027892,0.040573,0.004627,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.820513,0.809524,0.761905,0.883721,0.950000,0.845132,0.065249,4
8,0.053966,0.006719,0.009195,0.004488,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.789474,0.800000,0.818182,0.800000,0.810811,0.803693,0.009900,11
9,0.484552,0.218374,0.057163,0.016157,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.820513,0.800000,0.790698,0.857143,0.926829,0.839037,0.049475,6
10,0.107533,0.044210,0.008794,0.002784,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.789474,0.769231,0.684211,0.857143,0.894737,0.798959,0.073075,12
11,0.340789,0.031113,0.039375,0.022995,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.820513,0.800000,0.790698,0.883721,0.950000,0.848986,0.060030,2

In [12]:
y_pred=grid.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:444: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [13]:
from sklearn.metrics import confusion_matrix#instead of r2_score we use confusion_matrix here
cm=confusion_matrix(Y_test,y_pred)
cm

array([[ 0, 79],
       [ 0, 41]], dtype=int64)

In [14]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,y_pred)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [15]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        79
           1       0.34      1.00      0.51        41

    accuracy                           0.34       120
   macro avg       0.17      0.50      0.25       120
weighted avg       0.12      0.34      0.17       120

In [16]:
#To know the f1_score value individually
from sklearn.metrics import f1_score
f1 = f1_score(Y_test,y_pred,average='weighted')
print("The f1_score value for best parameter {}:".format(grid.best_params_),f1)

The f1_score value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}: 0.17401656314699793

In [17]:
#Like f1_score, roc_auc_Score is also a value
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])#[:,1] is the proportion value. This is important for this step
#[:,1] - : means consider all rows and 1 means consider first column

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:444: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

0.5

In [18]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [19]:
#we can get input from user also
age=float(input("Age:"))
salary=float(input("Salary:"))
sex=int(input("Sex Male 0 or 1:"))

Age:50
Salary:10000
Sex Male 0 or 1:0

In [20]:
result2=grid.predict([[age,salary,sex]])#result of get input from user
print("Future Predictions {}:".format(result2))

Future Predictions [1]: